footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 35px 490px 50px 521px;
    top:832px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 1px;
    position:absolute;
}

.cesuga{
    position: fixed;
    top: 65%;
    right: 0;
    left: 0;
    width: 2%;
    gap: 150px;
    padding: 1em 0;
    margin: 250px;
    color: rgb(0, 0, 0) !important;
    font-size: 10%;
    z-index: 99999;
}

.facebook{
    position: fixed;
    top: -82%;
    right: 0;
    left: 0;
    width: 2%;
    gap: 150px;
    padding: 1em 0;
    margin: 1600px;
    color: rgb(0, 0, 0) !important;
    font-size: 5%;
    z-index: 99999;
}